.outline {
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
}

.outline * {
  padding: 0;
  margin: 0;
}

.outline__header {
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.outline__tree {
  padding: 0.5rem;
  height: calc(100% - 240px - 2rem);
  overflow: scroll;
}

.outline__logo {
  width: 100px;
  padding: 1rem;
}
