@import url(./app.css);
@import url(./components/outline.css);
@import url(./components/tree.css);

:root {
  --genji-main-color: MAIN_COLOR_PLACEHOLDER;
}

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  overflow: hidden;
}
