:root {
  --vp-home-hero-image-filter: blur(68px);
}

:root {
  --vp-home-hero-name-background: linear-gradient(
    -30deg,
    hsl(200deg 100% 65%),
    #a463f2
  );
  --vp-home-hero-name-color: transparent;
}

.clip {
  background: var(--vp-home-hero-name-background) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: var(--vp-home-hero-name-color) !important;
}
