:root {
  --vp-home-hero-image-filter: blur(68px);
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #647eff 25%,
    #42d392 50%
  );
}

:root {
  --vp-home-hero-name-background: -webkit-linear-gradient(
    315deg,
    #42d392 25%,
    #647eff
  );
  --vp-home-hero-name-color: transparent;
}

:root {
  --vp-c-indigo-1: #42b883;
  --vp-c-indigo-2: #42d392;
  --vp-c-indigo-3: #35eb9a;
}

.clip {
  background: var(--vp-home-hero-name-background) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: var(--vp-home-hero-name-color) !important;
}

.VPBadge a {
  cursor: pointer;
}

/** Plot **/
.genji-cell figure {
  margin: 0;
}

.genji-cell figure svg {
  overflow: visible;
}

/** Plot#ramp **/
.genji-cell figure svg:first-of-type {
  margin-left: 10px;
}

.genji-cell figure div {
  display: flex;
  align-items: center;
  min-height: 33px;
  flex-wrap: wrap;
}

.genji-cell figure div span {
  display: inline-flex;
  align-items: center;
  margin-right: 1em;
  font-family: system-ui, sans-serif;
  font-size: 10px;
  margin-bottom: 0.5em;
}

.dark g[aria-label="tip"] {
  --plot-background: black !important;
}

.genji-cell figure div span > svg {
  margin-right: 0.5em;
  overflow: visible;
}
