.preview__container {
  display: grid;
  grid-gap: 1rem;
}

.preview__container a {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  font: 400 0.75rem var(--sans-serif);
  color: #1b1e23 !important;
  width: 100%;
}

.preview__container--image {
  border: solid 1px #e8e8e8;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  padding-top: 62.5%;
  background-repeat: no-repeat;
  background-position: center;
}

.preview__container--image:hover {
  border-color: var(--genji-main-color);
}

.preview__container--title {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  margin-top: 0.25em;
}
