.genji-cell {
  margin: 16px 0px 0px 0px;
}

.genji-cell + div {
  margin-top: 0px !important;
}

.genji-object-inspector {
  margin-bottom: 4px;
}

.genji-object-inspector * {
  font-size: 16px;
  background-color: transparent !important;
}

.genji-error {
  color: #ff0000;
}

.genji-error-line {
  text-decoration: underline;
  text-decoration-color: #ff0000;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
}
