:root {
  --vp-c-indigo-1: #52b577;
  --vp-c-indigo-2: #6edc8c;
  --vp-c-indigo-3: #7bf69c;
  --vp-home-hero-image-filter: blur(68px);
}

:root {
  --vp-home-hero-name-background: -webkit-linear-gradient(
    315deg,
    var(--vp-c-indigo-3) 25%,
    var(--vp-c-indigo-1)
  );
  --vp-home-hero-name-color: transparent;
}

:root {
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--vp-c-indigo-3) 50%,
    var(--vp-c-indigo-1)
  );
}

.clip {
  background: var(--vp-home-hero-name-background) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: var(--vp-home-hero-name-color) !important;
}
