/** Reset CSS defined by VitePress through element selector: element {} */
.genji-cell * {
  all: revert-layer;
}

/** Reset CSS defined by VitePress through class selector: .vp-doc [element] {}*/
.genji-cell a {
  font-weight: initial;
  color: initial;
  text-decoration: initial;
  transition: initial;
  text-underline-offset: initial;
}

.genji-cell a:hover {
  color: initial;
  text-decoration: initial;
}

.genji-cell tr {
  background-color: initial;
  border-top: initial;
  transition: initial;
}

.genji-cell th {
  text-align: initial;
  font-size: initial;
  font-weight: initial;
  color: initial;
  background-color: initial;
}

.genji-cell td {
  font-size: initial;
}

.genji-cell table {
  display: initial;
  border-collapse: initial;
  margin: initial;
  overflow-x: initial;
}

.genji-cell th,
.genji-cell td {
  padding: initial;
  border: initial;
}
