:root {
  --syntax_normal: var(--vp-c-text-1);
  --sans-serif: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto,
    noto, "segoe ui", arial, sans-serif;
}

.genji-cell {
  display: flex;
  align-items: center;
  margin: 16px 0px 0px 0px;
  min-height: 30px;
  overflow: auto;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.genji-cell::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and new Edge */
}

.genji-cell + div {
  margin-top: 0px !important;
}

.genji-object-inspector * {
  font-size: 16px !important;
  margin-bottom: 4px;
}

.genji-object-inspector li {
  margin-top: 4px !important;
}

.genji-error {
  color: #cb4538;
  margin-bottom: 4px;
}

.genji-loading {
  width: 12px;
  height: 12px;
  border: 1.5px solid var(--vp-c-text-1);
  border-top-color: transparent;
  border-radius: 100%;
  animation: circle infinite 0.75s linear;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.__ns__-table th {
  font-weight: bold;
}

.__ns__-table * {
  font-size: 13px !important;
}

.__ns__-table table {
  display: table !important;
  width: 100%;
}

.observablehq--caret {
  margin-right: 4px;
  vertical-align: baseline;
  margin-bottom: 2px;
}
